<!-- <p>recipe-add works!</p> -->
<div fxLayout="row wrap" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <div fxLayout="row wrap" fxLayoutWrap="wrap">
                    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="33.3" fxFlex="100" class="text-left">
                        <!-- left -->
                        <button mat-icon-button color="primary" [routerLink]="['/dashboard/recipes-list']">
                            <mat-icon aria-label="Example icon-button with a heart icon">arrow_back</mat-icon> Back
                        </button>
                    </div>
                    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="33.3" fxFlex="100" class="text-center">
                        <!-- center -->
                        Recipe Add
                    </div>
                    <div fxFlex.gt-sm="33.3" fxFlex.gt-xs="33.3" fxFlex="100" class="text-right">
                        <!-- right -->
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>

<div fxLayout="row wrap" fxLayoutWrap="wrap">
    <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100">
        <mat-card>
            <mat-card-content>
                <form [formGroup]="recipeForm">
                    <div fxLayout="row wrap" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100" class="p-10">
                            <mat-form-field appearance="outline">
                                <input matInput type="text" class="form-control" placeholder="Dish Name" formControlName="dishName" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="40" fxFlex.gt-xs="40" fxFlex="100" class="p-10">
                            <mat-form-field appearance="outline">
                                <input matInput type="number" class="form-control" placeholder="No Of People Suitable" formControlName="noOfPeopleSuitable" required>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="20" fxFlex.gt-xs="20" fxFlex="100" class="p-10 p-t-24">
                            <mat-checkbox placeholder="Is Vegetarian" formControlName="isVegetarian">Is Vegetarian</mat-checkbox>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="p-10">
                            <mat-form-field appearance="outline">
                                <textarea matInput type="text" class="form-control" placeholder="Ingredients" formControlName="ingredients" required></textarea>
                            </mat-form-field>
                        </div>
                        <div fxFlex.gt-sm="50" fxFlex.gt-xs="50" fxFlex="100" class="p-10">
                            <mat-form-field appearance="outline">
                                <textarea matInput type="text" class="form-control" placeholder="Cooking Instructions" formControlName="cookingInstructions" required></textarea>
                            </mat-form-field>
                        </div>
                    </div>
                    <div fxLayout="row wrap" fxLayoutWrap="wrap">
                        <div fxFlex.gt-sm="100" fxFlex.gt-xs="100" fxFlex="100" class="p-10">
                            <button mat-raised-button color="primary" [disabled]="!recipeForm.valid" (click)="saveFoodRecipe(recipeForm.value)">Add Recipe</button>
                        </div>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
  </div>
  <app-loader></app-loader>