.main-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.spacer {
    flex: 1 1 auto;
}

.toolbar-shade {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.37), 1px 2px 3px rgba(0, 0, 0, 0.54);
    z-index: 3;
}

#sidebar {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    transform: translate3d(0, 0, 0) !important;
    visibility: visible !important;
    overflow-y: auto;
    transition: 0.5s;
}

.main-content {
    margin-left: 70px;
    overflow: hidden;
}
