/******************
Color Green
******************/

@include mat-core();
$mat-green: (
  50: #e8f5e9,
  100: #c8e6c9,
  200: #a5d6a7,
  300: #81c784,
  400: #66bb6a,
  500: #4caf50,
  600: #43a047,
  700: #388e3c,
  800: #2e7d32,
  900: #1b5e20,
  A100: #b9f6ca,
  A200: #69f0ae,
  A400: #00e676,
  A700: #00c853,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $light-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);
$green-app-primary: mat-palette($mat-green, 600);
$green-app-accent: mat-palette($mat-indigo, A200, A100, A400);
$green-app-warn: mat-palette($mat-pink);
$green-app-theme: mat-light-theme($green-app-primary, $green-app-accent, $green-app-warn);
$themecolor: #4CAF50;
$themecolor-alt: #4CAF50;
@include angular-material-theme($green-app-theme);

$selected: #151414;
$hover: #cccccc;
$white: #fff;
$grey: #777879;

#sidebar {
    background-color: $grey;
    color: $white;
    .mat-list-item .mat-list-icon {
        background: $themecolor-alt;
        color: $white;
    }
    .mat-list-text {
        color: $white;
    }
    .selected {
        background: $selected;
        border-radius: 10px;
    }
    .mat-nav-list .mat-list-item:hover {
        background: $hover;
        border-radius: 10px;
    }
    .submenu {
        overflow-y: hidden;
        transition: transform 300ms ease;
        transform: scaleY(0);
        transform-origin: top;
        padding-left: 20px;
    }
    .submenu.expanded {
        transform: scaleY(1);
    }
    .menu-button {
        transition: 300ms ease-in-out;
        transform: rotate(0deg);
        color: $white;
    }
    .menu-button.rotated {
        transform: rotate(180deg);
    }
}
mat-toolbar {
    color: $white;
    background-color: $themecolor-alt;
}
footer {
    color: $white;
    background-color: $themecolor-alt;
}
