<!-- <p>register works!</p> -->
<div class="register-wrapper" fxLayout="row" fxLayout="row wrap">
    <mat-card class="box">
      <mat-card-header>
        <img src="assets/images/recipes.jpg" alt="recipe logo" width="150" height="150">
      </mat-card-header>
      <mat-card-title class="title">Register</mat-card-title>
      <form [formGroup]="registerForm">
        <mat-card-content>
          <div>
            <mat-icon>person</mat-icon>
            <mat-form-field>
              <input matInput formControlName="userName" placeholder="User Name" required>
              <mat-error *ngIf="!registerForm.controls['userName'].valid && registerForm.controls['userName'].touched">
                <mat-error *ngIf="registerForm.controls['userName'].errors.required">User Name should not be empty.</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-icon>contact_mail</mat-icon>
            <mat-form-field>
              <input matInput formControlName="emailId" placeholder="Email Id" required>
              <mat-error *ngIf="!registerForm.controls['emailId'].valid && registerForm.controls['emailId'].touched">
                <mat-error *ngIf="registerForm.controls['emailId'].errors.required">Email Id should not be empty.</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-icon>vpn_key</mat-icon>
            <mat-form-field>
              <input matInput type="password" formControlName="password" placeholder="Password" required [type]="hide ? 'password' : 'text'">
              <mat-icon class="icon-pointer" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              <mat-error *ngIf="!registerForm.controls['password'].valid && registerForm.controls['password'].touched">
                <mat-error *ngIf="registerForm.controls['password'].errors.required">Password should not be empty.</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-icon>supervisor_account</mat-icon>
            <mat-form-field>
              <mat-label>Select a Role</mat-label>
              <mat-select formControlName="role" required>
                <mat-option *ngFor="let role of Roles" [value]="role.value">{{role.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="!registerForm.controls['role'].valid && registerForm.controls['role'].touched">
                <mat-error *ngIf="registerForm.controls['role'].errors.required">Role should not be empty.</mat-error>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="register-button">
            <button mat-stroked-button color="primary" class="btn-block" (click)="register()" [disabled]="!registerForm.valid">Register <mat-icon>login</mat-icon></button>
          </div>
        </mat-card-content>
      </form>
    </mat-card>
</div>
